attrs==22.1.0
autopep8==1.7.0
certifi==2022.6.15
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cycler==0.11.0
disjoint-set==0.7.3
Fiona==1.8.21
fonttools==4.37.1
geopandas==0.11.1
gerrychain==0.2.20
jsonpickle==3.0.1
kiwisolver==1.4.4
linetimer==0.1.5
lxml==4.9.1
matplotlib==3.5.3
mpmath==1.2.1
munch==2.5.0
mypy==0.991
mypy-extensions==0.4.3
networkx==2.8.6
numpy==1.23.2
packaging==21.3
pandas==1.4.4
Pillow==9.2.0
pycodestyle==2.9.1
pyparsing==3.0.9
pyproj==3.3.1
python-dateutil==2.8.2
python-pptx==0.6.21
pytz==2022.2.1
scipy==1.9.1
Shapely==1.8.4
six==1.16.0
sympy==1.11.1
tk==0.1.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.4.0
XlsxWriter==3.0.3
